<%
  var title = page.title;
  if (is_archive()) {
    title = 'Archive';
  }
  if (is_category()) {
    title = page.category
  }
%>
<head>
  <!-- Webpage title -->
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>

  <!-- Character setting, icon setting and mobile compatibility. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" sizes="128x128" href="<%- config.favicon %>">

  <!-- Chrome mobile can use this to set background color. -->
  <meta name="theme-color" content="#ededed">

  <!-- Information for search engine -->
  <meta name="description" content="<%= config.description %>">
  <meta name="keywords" content="<%= config.keywords %>">
  <meta name="author" content="<%= config.author %>">

  <!-- Compatibility for browsers older than IE9, which do not support HTML5 new features. -->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <%- css('style') %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />

  <!-- Scripts for Google Analytics -->
  <!-- Put the script provided by Google here. -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92228484-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
