<footer>
  <div class="copyright">
    <div>
      &copy; <%= new Date().getFullYear() %> | Proudly powered by <a href="https://hexo.io" target="_blank">Hexo</a>&nbsp
    </div>
    <div>
      with theme by <a href="https://github.com/lewis-geek/hexo-theme-Aath" target="_blank">Aath</a>
    </div>
  </div>
</footer>

<% if (is_post() || is_current('about')) { %>
<%- js('lib/in-view.min.js') %>
<%- js('lib/lodash.min.js') %>
<%- js('js/script.js') %>
<%- js('lib/jquery.fancybox.min.js') %>
<% } %>
